

# dependencies
/node_modules
/Frontend/node_modules
/Frontend/.pnp
/Frontend/.pnp.js

# testing
/Frontend/coverage

# production
/Frontend/build

# misc
/Backend/config/settings.env
/Frontend/.DS_Store
/Frontend/.env.local
/Frontend/.env.development.local
/Frontend/.env.test.local
/Frontend/.env.production.local

npm-debug.log*

