.speedDial {
    position: fixed;
    right: 3vmax;
    top: 3vmax;
    transition: 0.2s;
  }
.speedDial:hover{
    transform: scale(1.45); 
    top: 3.25vmax;   
}
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }